body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

fieldset {
  border: 15px solid;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #333;
}

.recipe {
  margin-bottom: 40px;
}

h2 {
  color: #555;
}

p {
  color: #777;
}

img {
  display: block;
  max-width: 100%;
  margin: 20px auto;
  border-radius: 30px;
}